<!-- <p>
  vediodetail works!
</p> -->
<!-- {{video.title}}
{{video.url}}
{{video.description}} -->
<div>
  <div>

    <iframe width="100%" height="300" [src]="video.url | safe">

    </iframe>
  </div>
  <form>
    <div *ngIf="edittitle" class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="title............"
      [(ngModel)]="video.title">
    </div>

    <h3 *ngIf="!edittitle" (click)="ontitleclick()">{{video.title}}</h3>

    <div class="form-group">
      <input type="input" class="form-control" name="url" required placeholder="url.........."
      [(ngModel)]="video.url">
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="5" name="description" [(ngModel)]="video.description">

      </textarea>
    </div>
  </form>
</div>